[submodule "libraries/vendor/eos-vm"]
	path = libraries/vendor/eos-vm
	url = https://github.com/EOSIO/eos-vm.git
[submodule "libraries/vendor/koinos-types"]
	path = libraries/vendor/koinos-types
	url = git@github.com:koinos/koinos-types.git
	branch = master
[submodule "libraries/vendor/rabbitmq-c"]
	path = libraries/vendor/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
