[submodule "libraries/log"]
	path = libraries/log
	url = https://github.com/koinos/koinos-log-cpp.git
[submodule "libraries/util"]
	path = libraries/util
	url = https://github.com/koinos/koinos-util-cpp.git
[submodule "libraries/exception"]
	path = libraries/exception
	url = https://github.com/koinos/koinos-exception-cpp.git
[submodule "libraries/mq"]
	path = libraries/mq
	url = https://github.com/koinos/koinos-mq-cpp.git
[submodule "libraries/crypto"]
	path = libraries/crypto
	url = https://github.com/koinos/koinos-crypto-cpp.git
[submodule "libraries/proto"]
	path = libraries/proto
	url = https://github.com/koinos/koinos-proto-cpp.git
[submodule "libraries/state_db"]
	path = libraries/state_db
	url = https://github.com/koinos/koinos-state-db-cpp.git
