language: c++

cache:
- ccache
- pip
  directories:
    - $HOME/Library/Caches/Homebrew
    - /usr/local/Homebrew

jobs:
  include:
    - os: osx
      osx_image: xcode11.3
      compiler: clang
      env: RUN_TYPE=coverage
    - os: linux
      dist: bionic
      compiler: gcc
      env: RUN_TYPE=test
    - os: osx
      osx_image: xcode11.3
      compiler: clang
      env: RUN_TYPE=test

before_cache:
  - rm /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cast/homebrew-cask
  - brew cleanup

before_install:
  - ci/before_install.sh

install:
  - ci/install.sh

script:
  - ci/build.sh && ci/test.sh

after_success:
  - ci/after_success.sh

notifications:
  slack:
    secure: HYp3mDmCvtrCBjmw+jH4XGVHpYxOZ6O7jXFOM6/QyNDGKZoQaAKr4ZvArtsr5FcnwDi9eVaEyKDwtNpZiUxtFYLO7icejqtW0ibbmDwUTHBAln3vjJnBAwqu0RgloRMLgunJ1M91wnszUoPxSCfeR4xVUtnVl0HbQTaqHc0Z01OBUS1DB9NI+hbb/IkOADBCF7D4T3PubjcWLHdhqGyBtIuwVQ3PEwEMq/4FrGScJnVAp1mDNW2C0StbIJGPetpxCEAIFOsGfdAHF7eNJSkPn6xsjcDlXTp9QX2XgVPOTUILFDn5Eddi+TZM3BMx3keG+vTL6tfLr4d/da13HwcvPbYlowVAfvwV/OsEYskRJ8qNERKg/VAi8m4xdFq8AeE2XLSM8kZyiLb9ki2Ifv+t/Tvp2tZ8qCZlbgsTdCTdILKAKWka0tNwPPDLfG3mHYbFZE4K8rRUTDI2e7b39UpbTRA1qNcrqkP8oQRuvORcKan8JohPPWjuf+XCaP2eteEjyqu60MkhCQ+CSpcocyz4ROLKwAYA2FVhqhIFIxB6fpwivVGxgl/OM1LIcMQEnrDIcZxyaaiICMQHFCBqNLOhI6lOr6XSnJaz0bDK/jFM89vm9vSFlYQ/pMYVE8prfjaXR9ITkC5eOTZMaYnX8sIemK1MC+hpyMnCHsY5fB1HW/A=
    on_success: never
