
{%- macro typearg(targ) -%}
{%- if targ["info"]["type"] == "IntLiteral" -%}
{{ targ["value"] }}
{%- else -%}
{{ cpp_classname( ns.current_ns, targ["name"] ) }}
{%- endif -%}
{%- endmacro %}

{% macro typeref(tref) -%}
{{ cpp_classname( ns.current_ns, tref["name"] ) }}
{%- if tref["targs"] is not none -%}
<
{%- for targ in tref["targs"] -%}
{{ typearg(targ) }}{{ "," if not loop.last }}
{%- endfor -%}
>
{%- endif -%}
{%- endmacro %}

{%- macro typedef_decl(decl) -%}
typedef {{ typeref(decl["tref"]) }} {{ decl["name"]|simple_name|classname_case }};
{% endmacro -%}

{%- macro struct_decl(decl) -%}
struct {{ decl["name"]|simple_name|classname_case }}
{
{%- if decl["fields"]|length > 0 %}
{% for field in decl["fields"] %}   {{ typeref(field["tref"]) }} {{ field["name"] }};
{% endfor -%}
{% endif -%}
};
{% endmacro -%}

{%- macro reflect_decl(name, decl) -%}
KOINOS_REFLECT( {{ name|cpp_namespace }}::{{ decl["name"]|simple_name|classname_case }},
{%- if decl["fields"]|length > 0 %}
{% for field in decl["fields"] %}   ({{ field["name"] }})
{% endfor -%}
{% endif -%}
)
{% endmacro -%}

{%- macro update_ns( new_ns ) -%}
{%- if ns.current_ns != new_ns -%}
{%- if ns.current_ns != "" -%}
}
{% endif -%}
{%- if new_ns != "" %}
namespace {{ new_ns }} {
{% endif -%}
{%- endif -%}
{%- set ns.current_ns = new_ns -%}
{%- endmacro -%}

#pragma once

#include <koinos/pack/rt/binary_fwd.hpp>
#include <koinos/pack/rt/json_fwd.hpp>
#include <koinos/pack/rt/string_fwd.hpp>
#include <koinos/pack/rt/reflect.hpp>
#include <koinos/pack/rt/basetypes.hpp>

{%  set ns = namespace() -%}
{%- set ns.current_ns = "" -%}
{% for name, decl in decls_by_name.items() %}

{%- if decl["info"]["type"] == "Typedef" -%}
{{ update_ns( name|cpp_namespace ) }}
{{ typedef_decl( decl ) }}
{% elif decl["info"]["type"] == "Struct" -%}
{{ update_ns( name|cpp_namespace ) }}
{{ struct_decl( decl ) }}
{% elif decl["info"]["type"] == "EnumClass" -%}
{{ update_ns( name|cpp_namespace ) }}

{% set ns.current_ns = name|cpp_namespace -%}
{%- endif -%}

{% endfor %}

{{ update_ns( "" ) }}
{% set ns.current_ns = "" %}

{% for name, decl in decls_by_name.items() %}
{%- if decl["info"]["type"] == "Struct" -%}
{{ reflect_decl( name, decl ) }}
{% elif decl["info"]["type"] == "Typedef" -%}
{% elif decl["info"]["type"] == "EnumClass" -%}
{%- endif -%}
{% endfor %}

{% for decl_ns in decl_namespaces -%}
{%- if decl_ns not in ["", "std"] -%}
KOINOS_DEFINE_JSON_STREAM_OPERATOR( {{ decl_ns }} )
{% endif -%}
{%- endfor %}
